body > #root > div {
  height: 100vh;
}

.container {
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.top-area {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bottom-area {
  display: flex;
  justify-content: center;
}

button > span > svg {
  height: 3em !important;
  width: 3em !important;
}

.translate-button {
  padding: 3rem 0;
}
